<p>
	<%= form.label :subject %><br>
	<%= form.text_field :subject %>
</p>

<p>
	<%= form.label :boby %> <br>
	<%= form.text_area :body %>
</p>

<p>
	<%= form.label :tag_list %><br>
	<%= form.text_field :tag_list %>
</p>